@import "./sidebar.css";
@import "./nav.css";
@import "./custom.css";
@import "./buttons.css";
@import "./form.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";


@tailwind base;

@layer base {
    html {
        font-family: theme('fontFamily.sans');
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: theme('fontFamily.heading');
    }
}

@tailwind components;
@tailwind utilities;
