@import "./sidebar.css";
@import "./nav.css";
@import "./custom.css";
@import "./buttons.css";
@import "./form.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";


@tailwind base;
@tailwind components;
@tailwind utilities;
